.Children {
    padding-top: 7rem;
    padding-bottom: 5rem;
    width: 100vw;
    height: auto;
    min-height: 100vh;
}


.Children-error {
    padding-top: 7rem;
    padding-bottom: 5rem;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background: var(--gradient-backgrounnd-error) ;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}