:root {
    --primary-color-blue: rgb(54, 94, 228);
    --primary-color-purple: rgb(172, 0, 252);
    --primary-color-theme: rgb(54, 54, 54);
    --gradient-backgrounnd-html: radial-gradient(circle, var(--primary-color-blue) 0%, var(--primary-color-purple) 95%);
    --gradient-backgrounnd-error: radial-gradient(circle, red 0%, black 95%);
    --font-color: rgb(177 177 177);
    --font-family-roboto: 'Roboto', sans-serif;
    --background-with-transparency-menu: rgba(0, 0, 0, 0.5);
    --background-with-transparency-message: rgba(0, 0, 0, 0.2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: 62.5%;
    background-image: var(--gradient-backgrounnd-html);
    min-width: 20rem;
    height: 100vh;
    font-family: var(--font-family-roboto);
}

p {
    font-size: 1.6rem;
}

body::-webkit-scrollbar {
    width: 0rem;
}

/* body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
} */