header {
    height: 7rem;
    background: var(--primary-color-theme);
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100vw;
}

.Menu {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    justify-content: flex-end;
    align-content: center;
}

.Logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.Logo:hover {
    cursor: pointer;
}

.Logo img {
    width: auto;
    height: 5rem;
}

.Profile {
    height: 7rem;
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.Profile-image img {
    width: auto;
    height: 5rem;
    border-radius: 5rem;
    margin-left: 2rem;
    margin-top: 0.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

@media ( min-width: 600px) {}

@media ( min-width: 800px) {}