.container {
    display: flex;
    flex-wrap: wrap;
}

.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    min-height: 15rem;
    height: 30rem;
    margin: 1rem 0.5rem;
    /* border: 0.1rem solid; */
    /* border-color: var(--primary-color-blue); */
    border-radius: 20%;
    background-color: var(--background-with-transparency-menu);
}

@media ( min-width: 600px) {

    .c2, .c3, .c4, .c5 {
        width: 50%;
    }
    .c1, .c2, .c3, .c4, .c5 {
        margin: 0;
    }
}

@media ( min-width: 800px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .c1 {
        width: 100%;
    }
    .c2, .c3 {
        width: 33%;
    }
    .c4 {
        width: 34%;
    }
    .c5 {
        width: 100%;
    }
    .c1, .c2, .c3, .c4, .c5 {
        margin: 0;
    }
}