.Main-menu-active {
    margin-top: 7rem;
    position: absolute;
    height: calc(100vh - 12rem);
    width: 80vw;
    transition: width 0.5s, box-shadow 0.3s;
    background: var(--background-with-transparency-menu);
    -webkit-box-shadow: -50px 0px 13px 5px rgba(0, 0, 0, 0.28);
    box-shadow: -50px 0px 13px 5px rgba(0, 0, 0, 0.28);
}

.Main-menu-active ul {
    list-style: none;
    list-style-type: none;
    padding-top: 7rem;
    padding-bottom: 5rem;
    padding: 0;
    overflow: auto;
    background-color: transparent;
    height: calc(100vh - 12rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.Main-menu-active ul li button {
    min-width: 50vw;
    border: none;
    padding: 3rem;
    margin: 3rem;
    border-radius: 10%;
    background: var(--primary-color-blue);
    font-family: var(--font-family-roboto);
    font-size: 1.5rem;
    color: var(--font-color);
    font-weight: bold;
    font-stretch: extra-expanded;
    transition: transform 1.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Main-menu-active ul li button:hover {
    box-shadow: 0 0.5rem 1rem 0.2rem rgb(140, 159, 223);
}

.Main-menu {
    width: 0vw;
    position: absolute;
}

.Main-menu ul {
    display: none;
}

.Hamburger {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    margin: 0.6rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Hamburger-active {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    margin: 0.6rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Hamburger-active:-moz-read-write:focus {
    background: none;
    outline: none;
}

.Hamburger-active:read-write:focus {
    background: none;
    outline: none;
}

.Hamburger:-moz-read-write:focus {
    background: none;
    outline: none;
}

.Hamburger:read-write:focus {
    background: none;
    outline: none;
}

._layer {
    height: 0.5rem;
    width: 3rem;
    background-color: var(--primary-color-blue);
    border-radius: 1rem;
    margin: 0.25rem 0.2rem;
    transition: ease-in-out .4s;
}

.Hamburger-active .-top {
    -webkit-transform: translateY(250%) rotate(45deg);
    -ms-transform: translateY(250%) rotate(45deg);
    transform: translateY(250%) rotate(45deg);
    transition: ease-in-out .4s;
    background-color: red;
}

.Hamburger-active .-mid {
    opacity: 0;
}

.Hamburger-active .-bottom {
    -webkit-transform: translateY(-150%) rotate(135deg);
    -ms-transform: translateY(-150%) rotate(135deg);
    transform: translateY(-150%) rotate(135deg);
    transition: ease-in-out .4s;
    background-color: red;
}